*~
\#*\#
*.fastq
*.fq
*.sam
*.bam
*.fastq.gz
*fastqc.zip                    
*.fq.gz
*.tar*
*/ref/*         
*.zip
*.gz
*.svg
*.pdf
*.csv
*.xlsx
*.html
*.fai
*.svg
*.pdf
*.fasta
data/*
data/**
shiny_bookmarks/**
shiny_bookmarks/*
data/jobs/**
data/202**

